<div class="large-6 medium-12 columns feature">

    <a class="image" href="{{article.link}}">
        <img class="thumbnail" src="{{TimberImage(article.custom.image).src}}"
             alt="{{TimberImage(article.custom.image).alt}}"/>
    </a>
    <div class="title">
        <a href="{{article.link}}" title="{{ article.title }}">
            <h1>{{ article.title }}</h1>
        </a>
        <span class="date">
            {{article.post_date|date('d M, Y')}}
        </span>
    </div>
    {{ article.content | truncate(50, true) | wpautop }}
    <a class="read-more" href="{{article.link}}">Read more</a>

</div>
