{% block html_head_container %}

{% include 'html-header.twig' %}
{% block head %}
{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">

{% block navigation %}
<div class="top-bar">
    <div class="top-bar-title">
	    <span data-responsive-toggle="responsive-menu" data-hide-for="medium" style="display: none;">
			<button class="menu-icon" type="button" data-toggle=""></button>
    	</span>
        {% if site_options.logo %}
        <a href="/" title="{{site.name}}"><img src="{{TimberImage(site_options.logo).src}}"></a>
        {% else %}
        <a href="/" title="{{site.name}}">{{site.name}}</a>
        {% endif %}
    </div>
    <div id="responsive-menu">
        <div class="top-bar-left">
        </div>
        <div class="top-bar-right">
            {% include "header/navigation.twig" with {'menu': menu.get_items} %}
        </div>
    </div>
</div>
{% endblock %}

<section id="content" role="main" class="content-wrapper">
    {% if title %}<h1>{{title}}</h1>{% endif %}
    <div class="wrapper {{sidebar_class}}">
        {% block content %}
        Sorry, no content
        {% endblock %}
    </div>
    {% if sidebar %}
    <aside class="layout-sidebar">
        {{sidebar}}
    </aside>
    {% endif %}
</section>

{% block footer %}
<footer id="footer" class="footer section">
    {% include 'footer.twig' %}
</footer>
{{ function('wp_footer') }}
{% endblock %}

<script src="{{site.theme.link}}/dist/assets/js/app.js"></script>
</body>
</html>
