<div class="row large-text-left medium-text-center text-center">
    <div class="large-3 medium-6 columns">
        <h5>Our Divisions</h5>
        <ul class="menu vertical">
            <li><a href="#">Working Dogs &amp; Horses</a></li>
            <li><a href="ultimate-rural-training-centre.html">Ultimate Rural Training Centre</a></li>
            <li><a href="#">Toomby Equine Muscular Therapy</a></li>
            <li><a href="#">EMM-TECH</a></li>
        </ul>
    </div>
    <div class="large-3 medium-6 columns">
        <h5>Discover Toomby</h5>
        <ul class="menu vertical">
            <li><a href="#">News &amp; Media</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </div>
    <div class="large-3 medium-6 columns">
        <h5>Find Us</h5>
        {{ site_options.address }}
    </div>
    <div class="large-3 medium-6 columns end">
        <h5>Our Sponsors</h5>
        <a href="#">Toomby Horsemanship would not be possible without our amazing sponsors.</a>

        {% if site_options.facebook_url or site_options.twitter_url or site_options.linkedin_url %}
        <h5>Social Media</h5>
        {% endif %}

        {% if site_options.facebook_url %}
        <a href="{{ site_options.facebook_url }}" title="Find us on Facebook">
            <i class="fa fa-facebook"></i>
            Facebook
        </a>
        {% endif %}

        {% if site_options.twitter_url %}
        <a href="{{ site_options.twitter_url }}" title="Follow us on Twitter">
            <i class="fa fa-twitter"></i>
            Twitter
        </a>
        {% endif %}

        {% if site_options.linkedin_url %}
        <a href="{{ site_options.linkedin_url }}" title="Connect with us on LinkedIn">
            <i class="fa fa-linkedin"></i>
            LinkedIn
        </a>
        {% endif %}

    </div>
</div>
<div class="row medium-text-center text-center">
    <p class="copyright">
        ©Copyright {{"now"|date('Y')}} {{ site.name }}. All rights reserved.</p>
</div>
