{% extends "base.twig" %}

{% block content %}
{% include "sections/hero.twig" %}
<section class="news">

    {% if post.hasHero == false %}
    <h1>{{ post.title }}</h1>
    {% endif %}

    <section class="articles">
        <div class="row">

            {% for article in posts %}
            {% if loop.index == 1 %}
            {% include "sections/news-featured-article.twig" with {'article': article} %}
            {% else %}
            {% include "sections/news-article.twig" with {'article': article} %}
            {% endif %}
            {% endfor %}

        </div>
    </section>

    <section class="pagination">
        <div class="row">
            {% if pagination.prev %}
            <a href="{{page.link}}" class="hollow button large">Previous</a>
            {% endif %}

            {% for page in pagination.pages %}
            <a href="{{page.link}}" class="button large">{{page.title}}</a>
            {% endfor %}

            {% if pagination.next %}
            <a href="{{page.link}}" class="hollow button large">Next</a>
            {% endif %}
        </div>
    </section>

</section>

{% endblock %}
