{% extends "base.twig" %}

{% block content %}

<div class="home hero" style="background-image: url('{{TimberImage(site_options.primary_hero_background).src}}')">
    <div class="row">
        <div class="medium-8 medium-centered column">
            <img src="{{TimberImage(site_options.primary_logo).src}}">
            <h1>{{site_options.welcome_message}}</h1>
            <p>{{site_options.description}}</p>
        </div>
    </div>
</div>

<!-- TODO Training Sections -->
<section class="training">
    <div class="row">

        <div class="large-3 medium-6 columns">
            <div class="image card">
                <h2 class="title">Working Dogs &amp; Horses</h2>
                <a href="#"><img src="http://www.fillmurray.com/300/400"></a>
            </div>
        </div>

        <div class="large-3 medium-6 columns">
            <div class="image card">
                <h2 class="title">Ultimate Rural Training Centre</h2>
                <a href="ultimate-rural-training-centre.html"><img src="http://www.fillmurray.com/300/400"> </a>
            </div>
        </div>

        <div class="large-3 medium-6 columns">
            <div class="image card">
                <h2 class="title">(TEMT) Toomby Equine Muscular Therapy</h2>
                <a href="#"><img src="http://www.fillmurray.com/300/400"> </a>
            </div>
        </div>

        <div class="large-3 medium-6 columns">
            <div class="image card">
                <h2 class="title">EMM-TECH</h2>
                <a href="#"><img src="http://www.fillmurray.com/300/400"> </a>
            </div>
        </div>

    </div>
</section>
<!-- TODO Training Sections -->

<!-- TODO Make the article-card more generic -->
<section class="latest-news section box" data-equalizer data-equalize-on="medium">
    <div class="row">
        <h2>Latest News</h2>

        {% for article in post.articles() %}
        <div class="medium-4 columns card end" data-equalizer-watch>
            <div class="card-section">
                <span class="date">{{article.date}}</span>
                <h3>{{article.title}}</h3>
                <p>{{article.teaser_text}}</p>
                <a href="{{article.link}}">Read more</a>
            </div>
        </div>
        {% endfor %}

    </div>
</section>

{# {% include "sections/article-card.twig" %} #}

{% endblock %}
