{% extends "base.twig" %}

{% block content %}

<div class="home hero" style="background-image: url('{{TimberImage(site_options.primary_hero_background).src}}')">
    <div class="row">
        <div class="medium-8 medium-centered column">
            <img src="{{TimberImage(site_options.primary_logo).src}}">
            <h1>{{site_options.welcome_message}}</h1>
            <p>{{site_options.description}}</p>
        </div>
    </div>
</div>

<!-- TODO Training Sections -->
<section class="training">
    <div class="row">
    {% for post in site_options.posts %}
    {% set timberPost = TimberPost(post.post.ID) %}
    {% set image = timberPost.custom.image ? timberPost.custom.image : timberPost.custom.hero_image %}

      <div class="large-3 medium-6 columns">
        <div class="image card">
          <h2 class="title">{{timberPost.post_title}}</h2>
          <a href="#"><img src="{{TimberImage(image).src}}"></a>
        </div>
      </div>

    {% endfor %}
  </div>
</section>
<!-- TODO Training Sections -->

{% include "sections/article-card.twig" with {'articles': post.articles()} %}

{% endblock %}
